#logo {
	display: block;
	margin: 35px auto 20px;
}

#logo .body {
	fill: #FFB357;
}

#logo .tongue {
	fill: none;
	stroke: #FFB357;
	stroke-width: 4px;
}

#logo .pattern {
	fill: #c87;
}

#logo .eye {
	fill: #242736;
}

#logo .eye-reflects {
	fill: #fff;
}