/* główne */

body,
button {
	color: #FFB357;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
}

body {
	background: #242736;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	font-weight: normal;
	margin: 20px;
}

h1,
h2,
h3,
h4 {
	color: #FDC96D;
}

h1 {
	font-size: 3.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
	text-transform: uppercase;
}

em {
	font-style: normal;
}

a {
	color: #FFB357;
	transition: all 0.2s;
}

em,
a:hover {
	color: #fec;
	text-shadow: #f90 0 0 10px;
}

button {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
	padding: 0.5em;
	cursor: pointer;
	background: #392F38;
	border: none;
	border-bottom: solid 2px #5D3A3A;
	border-radius: 5px;
	transition: all 0.2s;
	position: relative;
	top: 0;
}

button:hover {
	background-color: #5D3A3A;
	border-color: #FFB357;
	color: #FDC96D;
}

button:active {
	top: 2px;
}

canvas {
	margin: 20px auto;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
	display: block;
	max-width: 100%;
	border: solid 2px #999;
}

/* klasy */

.button-row {
	margin: -10px 10px 10px;
}

.button-row.center {
	text-align: center;
}

.menu {
	margin: 0;
	padding: 0;
	font-size: 1.15em;
}

.menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
	transition: all 0.3s;
	position: relative;
}

.menu .active:after {
	content: "";
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #5D3A3A;
}

.menu li:hover {
	background: #392F38;
}

.menu a {
	display: block;
	text-decoration: none;
	padding: 0.6em;
}

/* specialne elementy */

body > * {
	overflow: hidden;
}

body > header {
	/*background-image: linear-gradient(to right, #392F38, #5D3A3A);*/
	background-image: radial-gradient(farthest-corner at 50% 100%, #5D3A3A 0%, #392F38 100%);
	text-align: center;
}

body > nav {
	text-align: center;
}

body > nav,
body > footer {
	background: rgba(0, 0, 0, 0.2);
}

body > section {
	border-bottom: solid 2px #5D3A3A;
}

body > section:last-of-type {
	border-bottom: none;
}

#game-canvas {
	border-width: 10px;
}