/* główne */

* {
	box-sizing: border-box;
}

body,
button {
	color: #FFB357;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
}

body {
	background: #242736;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	font-weight: normal;
	margin: 20px;
}

h1,
h2,
h3,
h4 {
	color: #FDC96D;
}

h1 {
	font-size: 3.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
	text-transform: uppercase;
}

h4 {
	font-size: 1.15em;
	text-transform: uppercase;
}

em {
	font-style: normal;
}

a {
	color: #FFB357;
	transition: all 0.2s;
}

em,
a:hover {
	color: #fec;
	text-shadow: #f60 0 0 10px;
}

ul,
ol {
	margin: 20px;
	padding: 0 0 0 1.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0 20px;
}

li {
	margin: 5px 0;
}

button {
	display: inline-block;
	margin: 0 0 20px 20px;
	vertical-align: middle;
	padding: 0.5em;
	cursor: pointer;
	background: #392F38;
	border: none;
	border-bottom: solid 2px #5D3A3A;
	border-radius: 5px;
	transition: all 0.2s;
	position: relative;
	top: 0;
}

button:hover {
	background-color: #5D3A3A;
	border-color: #FFB357;
	color: #FDC96D;
}

button:active {
	top: 2px;
}

canvas,
img {
	margin: 20px auto;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
	display: block;
	max-width: 100%;
}

canvas {
	border: solid 2px #af6c4b;
}

kbd {
    background: #392F38;
    border-bottom: solid 2px #5D3A3A;
    border-radius: 2px;
    padding: 0.1em 0.4em;
}

fieldset {
	border: solid 2px #af6c4b;
}

label {
	display: block;
	margin: 10px;
}

input {
	width: 100px;
}

input[type="number"],
input[type="text"] {
	border: none;
	border-bottom: solid 2px #af6c4b;
	background: transparent none;
	color: #FDC96D;
	margin: 0 5px;
}

/* klasy */

.menu {
	margin: 0;
	padding: 0;
	font-size: 1.15em;
}

.menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
	transition: all 0.3s;
	position: relative;
}

.menu .active:after {
	content: "";
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #5D3A3A;
}

.menu li:hover {
	background: #392F38;
}

.menu a {
	display: block;
	text-decoration: none;
	padding: 0.6em;
}

.layer-wrapper {
	position: relative;
	display: table;
	margin: 10px auto;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 5px;
	right: 0;
	overflow: hidden;
	margin: 10px;
	display: none;
}

.grid {
	position: relative;
	margin: 10px;
	text-align: center;
}

.grid .per50 {
	display: inline-block;
	width: 50%;
	min-width: 280px;
	margin: 0;
	vertical-align: top;
	text-align: left;
}

.grid .per50 > * {
	margin: 10px;
}

.locked:after {
	content: "[ZABLOKOWANE]";
	color: #f00;
	margin-left: 5px;
	font-size: 0.8em;
}

/* specialne elementy */

body > * {
	overflow: hidden;
}

body > header {
	background-color: rgba(57, 47, 56, 0.85);
	text-align: center;
    position: relative;
}

body > nav {
	text-align: center;
}

body > nav,
body > footer {
	background: rgba(0, 0, 0, 0.2);
}

body > section {
	border-bottom: solid 2px #5D3A3A;
}

body > section:last-of-type {
	border-bottom: none;
}

#logo {
	display: block;
	margin: 35px auto 20px;
}

#snake-video {
	position: absolute;
	top: 55%;
	left: 55%;
	min-width: 110%;
	min-height: 110%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-55%) translateY(-55%);
	transform: translateX(-55%) translateY(-55%);
}

#game canvas {
	border-width: 10px;
	border-radius: 5px;
	background: #392F38 no-repeat center;
	background-size: contain;
	display: none;
	margin: 0;
}

.game-over {
	background: url(../img/game_over.png) center no-repeat;
	background-size: contain;
}

.game-over,
.game-paused,
.game-win {
	background-color: rgba(0, 0, 0, 0.5);
}